name: Canary Release

on: workflow_dispatch

jobs:
  export:
    name: Generate Interfaces And Contracts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        export_type: ['interfaces', 'all']

    env:
      EXPORT_NAME: ${{ matrix.export_type == 'interfaces' && '-interfaces' || '' }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build project and generate out directory
        run: yarn build

      - name: Update version
        run: yarn version --new-version "0.0.0-${GITHUB_SHA::8}" --no-git-tag-version

      - name: Export Solidity - Export Type ${{ matrix.export_type }}
        uses: defi-wonderland/solidity-exporter-action@2289697fa6706a35e145b3ccd15a05475d6faf93
        with:
          package_name: "@defi-wonderland/prophet-core"
          out: 'out'
          interfaces: 'solidity/interfaces'
          contracts: 'solidity/contracts'
          libraries: "solidity/libraries"
          export_type: '${{ matrix.export_type }}'

      - name: Publish to NPM - Export Type ${{ matrix.export_type }}
        run: cd export/@defi-wonderland/prophet-core${{ env.EXPORT_NAME }} && npm publish --access public --tag canary
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}